{% extends "deltarelations/base.html" %}

{% block title %}Delta Relations{% endblock %}

{% block content %}
<h1>Delta Relations</h1>

{% if user.is_authenticated %}
  <p>Welcome {{ user.username }}! </p>
{% endif %}

<ul>
  {% if user.is_authenticated %}
    <li><a href="edit_profile">Edit Profile</a></li>
    <li><a href="view_matches">View Matches</a></li>
    <li><a href="find_matches">Find Matches</a></li>
  {% else %}
    <li><a href="sign_up">Sign Up</a></li>
    <li><a href="log_in">Log In</a></li>
  {% endif %}
</ul>

{% endblock %}
